@charset "UTF-8";
/*css Document */

.hidden
{
  display: none;
}

h1, h2
{
	text-align: center;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}

h3, p
{
	text-align: center;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
