@charset "UTF-8";
/*css Document */

.hidden
{
  display: none;
}

h1
{
	text-align: center;
	font-family: 'Merriweather','New Times Roman', serif;
}

h2, h3, p
{
	text-align: center;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
